html, body {
  width: 117px;
}

#content {
	margin-bottom: 3px;
}

#likeLabel {
	margin-left: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 111px;
	padding: 0px;
}

#fullAuto {
	margin-left: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 111px;
	padding: 0px;
}
